@media (min-width: 1200px) {
  .container {
      max-width: 970px;
      text-align:center;
  }
}
@media (min-width:400px){
  .global-search {
  padding: 20px 0;
  text-align:center;
  }
  body {
  padding-bottom: 15px;
  background-color: #E5E5E5;
  }
  .global-search {
  text-align:center;
  padding:10px;
  }
  .global-search .form-control {
  width:400px;
  }
  .global-search * {
  display:inline-flex;
  margin-bottom:0;
  }
}
.searchButton{
background-color: #E62B1E !important;
font-weight: bold !important;
border: 1px solid red !important;
letter-spacing: 1px !important;
color: #E5E5E5 !important;
}
.form-control {
background-color: #E5E5E5 !important;
}
::placeholder{
	color: #545454 !important;
}
.step-links a{
color: #4285F4;
}
.jumbotron {
padding-bottom: 120px !important;
background-image: url("microphone_new.jpg");
background-size: cover;
opacity: .98;
}

th {
	color: #E62B1E;
}
.global-search{
margin-top: 50px;
}
.top_right{
position: absolute;
top: 10px;
right: 10px;
width: 800px;
text-align:right;
color: #E5E5E5;
display: block !important;
}

a {
	color: #333 !important;
}
a:hover {
    text-decoration: none !important;
    color: #CF4141 !important;
}
.label {
	float: left;
	margin: 2px;
	display: inline-block !important;
	background-color: #E62B1E !important;
	padding: .2em .3em !important
}
td {
	padding: 0px;
}

.custom-select {
  width:110px;
  height: 34px;
  padding: 0px 0px 0px 5px;
  background-color: #E5E5E5;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 3px
}

.row .h1 {
  text-align: center;
}

.btn {
  display: inline-flex;
  height: 34px;
  margin-left: 4px;
}

.center {
    margin: 0px auto;
    width: 50%;
}

