@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-bottom: 15px;
background-color: #E5E5E5;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.btn{
background-color: #E62B1E !important;
font-weight: bold !important;
border: 1px solid red !important;
letter-spacing: 1px !important;
color: #E5E5E5 !important;
}
.form-control {
background-color: #E5E5E5 !important;
}
::placeholder{
	color: #545454 !important;
}
.step-links a{
color: #4285F4;
}
.jumbotron {
padding-bottom: 120px !important;
background-image: url("microphone_new.jpg");
background-size: cover;
opacity: .98;
}

th {
	color: #E62B1E;
}
.global-search{
margin-top: 50px;
}
.bottomcorner{
position:absolute;
bottom:2%;
left:2%;
}

/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #EAC0C0;
}*/
a {
	color: #333 !important;
}
a:hover {
    text-decoration: none !important;
    color: #CF4141 !important;
}
.label {
	float: left;
	margin: 2px;
	display: inline-block !important;
	background-color: #E62B1E !important;
	padding: .2em .3em !important
}
td {
	padding: 0px !important;
}

