<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>

        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <div class="jumbotron text-center">
        <form class="global-search">
            <h1 style="font-size: 55px; color: #E5E5E5; font-family: 'Arial Black'">
                Recommen
            </h1>
            <h1 style="font-size: 65px; font-weight: bold; color: #E62B1E; font-family: 'Arial Black'">TED</h1>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="What do you want to watch today?" style="color: #545454">
            </div>
            <button type="submit" name="submit_btn" class="btn btn-info" value="submitted">
                Search
            </button>
        </form>
        </div>
        <form class="form-inline global-search">

        <h1>{{output_message}}</h1>
        {% if data %}

            </form>
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-sm-3"></th>
                    <th class="col-sm-1"></th>
                  </tr>
                </thead>
                <tbody>
                {% for talk in data %}  
                    <tr>
                        <td><a href="{{ talk.url }}"><h1 style="font-size: 24px; margin-top: 0px; margin-bottom: 3px">{{ talk.title }}</h1></a><p style="font-style: italic;">{{talk.speaker}}</p><p style="font-size: 12px">{{ talk.description }}</p>
                        {% for tag in talk.tags %} 
                            <span class="label label-default">{{tag}}</span>
                        {% endfor %}
                        </td>
                        <td>
                        <div id="{{ loop.index }}"></div>
                            <script>
                                var xValue = {{talk.rating_names | safe}}
                                var yValue =  {{talk.rating_counts | safe}}
                                var trace1 = {
                                  x: xValue,
                                  y: yValue,
                                  type: 'bar',
                                  //text: yValue,
                                  // textposition: 'auto',
                                  hoverinfo: 'x+y',
                                  hoverlabel: {
                                    font: {
                                        family: "Arial",
                                        color: '#FFFFFF'
                                    },
                                    bgcolor: 'rgb(51,51,51)',
                                    bordercolor: 'rgb(51,51,51)'

                                  },
                                  marker: {
                                    color: 'rgb(207,65,65)',
                                  }
                                };

                                var data = [trace1];
                                var layout = {
                                    hovermode: 'closest',
                                    autosize: false,
                                    width: 450,
                                    height: 200,
                                    margin: {
                                        l: 80,
                                        r: 30,
                                        b: 25,
                                        t: 0,
                                        pad: 0
                                      },
                                    xaxis: {
                                        tickfont: {
                                            size: 10
                                        },
                                        showticklabels: false,
                                        fixedrange: true
                                    },
                                    yaxis: {
                                        tickfont: {
                                            size: 10
                                        },
                                        showticklabels: false,
                                        showgrid: false,
                                        fixedrange: true
                                    }
                                };
                                Plotly.newPlot("{{ loop.index }}", data, layout, {displayModeBar: false});
                            </script>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        {% endif %}
    </body>

</html>