<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>

        <div class="jumbotron text-center">
        <form class="global-search">
            <h1 style="font-size: 55px; color: #E5E5E5; font-family: 'Arial Black'">
                Recommen
            </h1>
            <h1 style="font-size: 65px; font-weight: bold; color: #E62B1E; font-family: 'Arial Black'">TED</h1>
            
            <br><br>
            
            <div class="form-group">
            {% if query %}
                <input id="input" type="text" name="search" class="form-control" value="{{query}}" style="color: #545454">
            {% else %}
                <input id="input" type="text" name="search" class="form-control" placeholder="What do you want to watch today?" style="color: #545454">
            {% endif %}
            </div>
            <button type="submit" name="submit_btn" class="btn btn-info" value="submitted">
                Search
            </button>
        </form>
        </div>
        <form class="form-inline global-search">

        <h1>{{output_message}}</h1>
        {% if data %}

            </form>
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-sm-3"><h2 style="font-weight: bold; color: #333">Our Recommendations</h2></th>
                    <th class="col-sm-1"><h2 style="font-weight: bold; color: #333; margin-left: 60px">User Ratings</h2></th>
                  </tr>
                </thead>
                <tbody>
                {% for talk in data %}  
                    <tr>
                        <td><a href="{{ talk.url }}"><h1 style="font-size: 24px; margin-top: 50px; margin-bottom: 3px">{{ talk.title }}</h1></a><p style="font-style: italic;">{{talk.speaker}}</p><p style="font-size: 13px">{{ talk.description[0] }}</p>
                        <p style="color:#cf4141;"><strong><script>document.write({{talk.views}}..toLocaleString());</script></strong> views</p>
                        {% for tag in talk.tags %} 
                            <span class="label label-default">{{tag}}</span>
                        {% endfor %}
                        </td>
                        <td>
                        <div id="{{ loop.index }}"></div>
                            <script>
                                var lst = [{{talk.Beautiful}}, 
                                      {{talk.Confusing}},
                                      {{talk.Courageous}},
                                      {{talk.Funny}},
                                      {{talk.Informative}},
                                      {{talk.Ingenious}},
                                      {{talk.Inspiring}},
                                      {{talk.Longwinded}},
                                      {{talk.Unconvincing}},
                                      {{talk.Fascinating}},
                                      {{talk.Jawdropping}},
                                      {{talk.Persuasive}},
                                      {{talk.OK}},
                                      {{talk.Obnoxious}}
                                     ];
                                data = [{
                                  type: 'scatterpolar',
                                  name:'User Ratings',
                                  r: lst,
                                  theta: ['Beautiful',
                                          '       Confusing',
                                          '      Courageous', 
                                          'Funny', 
                                          'Informative', 
                                          'Ingenious   ',
                                          'Inspiring     ',
                                          'Longwinded', 
                                          'Unconvincing            ', 
                                          'Fascinating    ', 
                                          'Jaw-dropping',
                                          'Persuasive',
                                          'OK',
                                          '        Obnoxious'
                                          ],
                                  fill: 'toself',
                                  line: {color: 'rgb(207,65,65)'},
                                  hoverlabel: {
                                    font: {
                                        family: "Arial",
                                        color: '#FFFFFF'
                                    },
                                    bordercolor: 'rgb(51,51,51)',
                                    bgcolor: 'rgb(51,51,51)'
                                  },
                                  
                                }]

                                layout = {
                                  width: 350,
                                  height: 350,
                                  margin: {
                                    l: 70,
                                    r: 55,
                                    b: 0,
                                    t: 0,
                                    pad: 0
                                    },                                  
                                  polar: {
                                    bgcolor: 'rgb(242, 242, 242)',
                                    radialaxis: {
                                      visible: true,
                                      range: [0, Math.max(lst)],
                                      tickfont: {size: 8},
                                    },
                                    angularaxis: {
                                      tickfont: {size: 10},
                                      dtick: 1
                                    }
                                  },
                                  showlegend: false
                                }

                                Plotly.plot("{{ loop.index }}", data, layout, {displayModeBar: false}) 
                            </script>
                        </td>
                        <!--
                        <td>
                        <div id="{{ loop.index }}"></div>
                            <script>
                                var xValue = {{talk.rating_names | safe}}
                                var yValue =  {{talk.rating_counts | safe}}
                                var trace1 = {
                                  x: xValue,
                                  y: yValue,
                                  type: 'bar',
                                  //text: yValue,
                                  // textposition: 'auto',
                                  hoverinfo: 'x+y',
                                  hoverlabel: {
                                    font: {
                                        family: "Arial",
                                        color: '#FFFFFF'
                                    },
                                    bgcolor: 'rgb(51,51,51)',
                                    bordercolor: 'rgb(51,51,51)'

                                  },
                                  marker: {
                                    color: 'rgb(207,65,65)',
                                  }
                                };

                                var data = [trace1];
                                var layout = {
                                    hovermode: 'closest',
                                    autosize: false,
                                    width: 450,
                                    height: 200,
                                    margin: {
                                        l: 80,
                                        r: 30,
                                        b: 25,
                                        t: 25,
                                        pad: 0
                                      },
                                    xaxis: {
                                        tickfont: {
                                            size: 10
                                        },
                                        showticklabels: false,
                                        fixedrange: true
                                    },
                                    yaxis: {
                                        tickfont: {
                                            size: 10
                                        },
                                        showticklabels: false,
                                        showgrid: false,
                                        fixedrange: true
                                    }
                                };
                                Plotly.newPlot("{{ loop.index }}", data, layout, {displayModeBar: false});
                            </script>
                        </td>
                    -->
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        {% endif %}
        
    </body>
    <div class="bottomcorner" style="position: relative">
            <p>Project Name: {{ name }}</p>
            <br>
            <p>Student Name: ({{ netid }})</p>
        </div>

</html>